<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/hquemada/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>07960FE3-31F0-41A3-80D3-D8ADC48983A7</key>
		<dict>
			<key>BinderUUID</key>
			<string>07960FE3-31F0-41A3-80D3-D8ADC48983A7</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>MediaSettings</key>
			<dict>
				<key>PDFPage</key>
				<integer>2</integer>
			</dict>
			<key>PDFAutoScales</key>
			<false/>
			<key>PDFDisplayMode</key>
			<integer>1</integer>
			<key>PDFScale</key>
			<real>1</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>WindowFrame</key>
			<string>1042 -608 475 522 640 -800 1280 778 </string>
		</dict>
		<key>AC2B3649-E410-4B57-A92A-9256963927A0</key>
		<dict>
			<key>BinderUUID</key>
			<string>AC2B3649-E410-4B57-A92A-9256963927A0</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 -608 475 522 640 -800 1280 778 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 969}}</string>
		<string>{{176, 0}, {1504, 969}}</string>
	</array>
	<key>binderWidth</key>
	<real>226</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>07960FE3-31F0-41A3-80D3-D8ADC48983A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>207B8874-71C9-4EF7-80D3-577FB68FA2C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>240824A1-37FB-46C1-98D5-494E42FFFCC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40D74434-9A38-4603-ACE6-063034742229</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4409E488-9A09-443A-BC1E-E5BE0BDCB8F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5428C32E-4196-4E19-A5BB-EC1DB818A524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>641D2A64-E3AF-4CDC-A27A-9801D820E12C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80ACAF6C-B0E3-4925-8DDF-A4035CE62721</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>85905494-5A75-43C5-8315-1AF462C9BD61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86AA508A-2253-43B1-A39F-E192A05A826A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8C7C70EF-B92F-4EBC-AD7A-4C8086F722F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9853FFEC-B69D-476B-884C-74F44DC44264</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9BB87261-2AAD-40A9-8431-EBC9A5A582FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2920E67-208B-4E4D-B4CF-A1FB3493FB59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC2B3649-E410-4B57-A92A-9256963927A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACC8EDB0-AB6A-4E19-BD6D-95ED1CC5540D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFC6B620-8F17-4B50-811F-3E1E28A1877C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4EA4997-736B-4FC5-96F7-39F0475DF247</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C7046333-AD28-4BF2-9309-0DCBFC423953</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA9A04FD-6977-4FEF-BB48-DEADAC2BF5A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9E457A2-9E49-4234-9036-23B1D857D1B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA7F31DC-AB96-4D73-B11B-DF8983A821D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{429, 0}, {429, 677}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 959}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.0974509716033936</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 36 1680 991 0 0 1680 1027 </string>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 425.5}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
