<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/hquemada/Science Team FNIH Dropbox/Hector Quemada/GeneConvene/AdvisoryBoardMeeting/LessonsLearned</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>07960FE3-31F0-41A3-80D3-D8ADC48983A7</key>
		<dict>
			<key>BinderUUID</key>
			<string>07960FE3-31F0-41A3-80D3-D8ADC48983A7</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>MediaSettings</key>
			<dict>
				<key>PDFPage</key>
				<integer>2</integer>
			</dict>
			<key>PDFAutoScales</key>
			<false/>
			<key>PDFDisplayMode</key>
			<integer>1</integer>
			<key>PDFScale</key>
			<real>1</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>WindowFrame</key>
			<string>1042 -608 475 522 640 -800 1280 778 </string>
		</dict>
		<key>AC2B3649-E410-4B57-A92A-9256963927A0</key>
		<dict>
			<key>BinderUUID</key>
			<string>AC2B3649-E410-4B57-A92A-9256963927A0</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 -608 475 522 640 -800 1280 778 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>ToCIndent</key>
	<real>36</real>
	<key>ToCRightMargin</key>
	<real>467.99997521926775</real>
	<key>ToCUsePageWidth</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {243, 707}}</string>
		<string>{{244, 0}, {1036, 707}}</string>
	</array>
	<key>binderWidth</key>
	<real>175</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>034F4959-1D01-4C3B-9B20-E51A4EB2DD77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07960FE3-31F0-41A3-80D3-D8ADC48983A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DB1E929-F6B8-4428-B3BD-7F2EE70FDC81</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13D0027A-8C59-4DFE-868F-D996751FAD4E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>144E9C88-34CF-44BF-9A55-A70A581D19DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16B6DED4-D60B-48C9-8995-A21012A4B1C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BD71837-690A-4164-BD05-AC224D4D7BD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1ED91A0D-92D3-4BC3-B920-1ACC2A756357</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>207B8874-71C9-4EF7-80D3-577FB68FA2C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>240824A1-37FB-46C1-98D5-494E42FFFCC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24788B0B-2364-45F9-BD13-286D2127CC1A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C05D0EB-596D-4ABE-89C6-3C685290554A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E5425B1-E00C-4106-9811-07825054608A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B08210B-AE1A-4119-A4E7-3D54B94A6EC6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B11751D-2587-4587-9628-4194188BDE39</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40D74434-9A38-4603-ACE6-063034742229</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4409E488-9A09-443A-BC1E-E5BE0BDCB8F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BF20E70-73B6-42D2-99F7-7CB31B1EB651</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D966E87-97C8-4688-82F2-3AB11AE24B67</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52FB49EE-3BD9-4235-8C27-3A8302B45A0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5428C32E-4196-4E19-A5BB-EC1DB818A524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56DC9BD7-DE7A-45DE-85E7-1CF51238AE59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ABDDC0B-694D-43EB-A68A-8EC7278FD218</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ACE7D36-D297-429F-B808-7C79F4709D54</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60BA6896-E4F9-4FC2-B493-52DC5C74F5CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>641D2A64-E3AF-4CDC-A27A-9801D820E12C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>645A8B31-4E6B-479A-9A47-2328367F05C1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64DD9AC3-AF2C-4808-B019-B3C76F7692DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68EFCE19-D7DC-411A-8308-49179E4BC481</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>710D72B6-F02F-42B0-9BAD-05089998EDE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74BFC439-4F31-4992-90A6-E31BBBA4FBB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BBC9ADF-6B60-4E4B-8C51-786A6CBB2E15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80ACAF6C-B0E3-4925-8DDF-A4035CE62721</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>83047406-E5FD-496D-AAAC-B98BD14E6B32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>85905494-5A75-43C5-8315-1AF462C9BD61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86AA508A-2253-43B1-A39F-E192A05A826A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8C7C70EF-B92F-4EBC-AD7A-4C8086F722F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94A7DEA9-A39B-4E2E-82FE-30CF3DB2E5AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96DE8886-5AB0-44FF-8ADF-64C60241255A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9853FFEC-B69D-476B-884C-74F44DC44264</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9BB87261-2AAD-40A9-8431-EBC9A5A582FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A040A4AB-3867-46CD-93CE-CACC6FABC0C1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A162369E-A1A3-44A3-B4DC-7586A6FD356D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2920E67-208B-4E4D-B4CF-A1FB3493FB59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A303EFC9-EB34-4039-BE99-B01F982B15E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9C4C734-CB12-45AD-BCA1-FC85B05E4070</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC2B3649-E410-4B57-A92A-9256963927A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACC8EDB0-AB6A-4E19-BD6D-95ED1CC5540D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFC6B620-8F17-4B50-811F-3E1E28A1877C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4EA4997-736B-4FC5-96F7-39F0475DF247</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C58574ED-DF47-4133-8111-DD772687A131</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C7046333-AD28-4BF2-9309-0DCBFC423953</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9DBE7E2-FD8F-49FD-B35B-0CB16601777C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC2E3B12-C157-4B2B-BDF1-87B58C44A0EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D3B4BCD3-E260-457B-84D5-5798402D7F13</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D8463700-FFD7-47F5-86C6-67A2A903D658</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA9A04FD-6977-4FEF-BB48-DEADAC2BF5A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB31776F-29F6-44F3-8C13-725F4B9E8E1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB605C69-5E4C-4101-B7D3-D57CF32F2EE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE468BDB-7DC0-4E53-9382-11A6C8E924BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF6F13B3-93B8-4259-AC06-F48860307264</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DFEB0688-F95A-44F8-A58C-A570215022BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2FCE79D-39B8-4A69-8419-855E1E51515E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5FE27EF-89C8-40F9-8C19-A8650A2879E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9E457A2-9E49-4234-9036-23B1D857D1B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED67A894-EEEA-40D2-9CF7-8B939C986417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED927E96-CEE9-48B7-8BFF-A7329E7FBE72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF75DCD1-7A2A-44B0-9C7B-45F74D00C25A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F18FBF40-C54C-46B2-AAFE-4B9FEB0AF9B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F42BB1C7-4546-4F2E-A994-46E80C4AEC75</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6783F3E-3C73-4317-9407-0DB0AE93E416</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F9EB544F-E345-445D-9CFB-258AE28FE527</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA7F31DC-AB96-4D73-B11B-DF8983A821D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{552, 0}, {552, 697}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 697}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.0974509716033936</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>412 247 1280 729 0 0 1920 1058 </string>
	<key>previousDocumentTargetType</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 32.285714285714285}, {592, 354.85714285714289}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
